.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#navLogo{
color: blanchedalmond;
font-weight: bold;
text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#root{
background-color: rgb(185, 182, 182);
}

#letrasBlancas{
color: whitesmoke;
font-weight: bold;
}


.mostrarCarrito{
text-align: center;
background-color: tomato;

}

#contadorCart{
display: flex;
flex-direction: row;
}

#footerLista{
display: flex;
flex-direction: column;
}

#listaBlanca{
color: whitesmoke;
font-weight: bold;
text-decoration: none;
list-style-type: none;
margin-top: 2%;
}

#contador{
background-color: gray;
border-radius: 10px;
font-weight: bold;
padding: 6%;
margin-left: 15%;
align-self: center;
justify-self: center;
height: auto;
color: whitesmoke;
font-weight: bold;
text-decoration: none;
}

#btn{
padding: 3%;
margin-bottom: 2%;
align-self: center;
text-decoration: none;
width: max-content;
background-color: #0d6efd;
color: whitesmoke;
border: #0e61df solid 2px;
font-weight: bold;
border-radius: 6px;
}

#colorFooter{
background-color: #212529;
}

#tituloProducto{
background-color: rgb(241, 238, 10);
color: rgb(10, 53, 10);
display: flex;
justify-content: center;
align-content: center;
font-size: 20px;
padding: 0%;
}

#bloqueCentrado{
display: flex;
justify-content: center;}

#centrarTexto2{
display: flex;
flex-direction: column;
align-items: center;
padding: 10%;
background-color: #df7878;
width: 70%;
}

#negrita{
font-weight: bolder;
padding: 3%;
font-size: 20px;
}

#negrita1{
font-weight: bolder;
padding: 3%;
font-size: 20px;
background-color: #d49797;
;
}

#btnAgregar{
font-weight: bolder;
border-color: #0a5dda;
}

#btnContador{
border-radius: 10px;
background-color: #0a5dda;
color: aliceblue;
font-weight: bold;
padding-left: 2%;
padding-right: 2%;
}

.estiloCont{
padding-top: 10px;
text-align: center;
display: flex;
flex-direction: row;
justify-content: center;
}

#navBar{
margin-left: 20%;
padding-top: 20px;
color: whitesmoke;
font-weight: bold;
text-decoration: none;

}

#navCart{
margin-left: 20%;
}

#itemCategoria{
height: auto;
}

#imgProducto {
margin-top: 3%;
height: 200px;
width: 150px;
display: flex;
justify-self: center;
align-self: center;
}

#tituloCategoria{
display: flex;
flex-direction: row;
justify-content: space-around;
height: 100px;
padding-top: 10px;
font-weight: bold;
background-image: linear-gradient(rgb(180, 70, 70), #ca8b50, rgb(177, 51, 51));
font-size: 40px;
font-style: italic;
text-shadow: 2px 2px 2px #1F1924;
}

#sinEstilo{
text-decoration: none;
list-style-type: none;
color: whitesmoke;
}

#cardCategoria{
display: flex;
flex-direction: row;
}

#tituloProducto{
height: 50px;
}

#centrarTexto{
display: flex;
text-align: center;
align-self: center;
justify-self: center;

}

.greeting{
    background-image: linear-gradient(black, #052929, black);
    font-family: "gudea", sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 37px;
    font-weight: bolder;
    color: white;
    align-self: center;
    justify-self: center;
    margin: 0%;
    height: auto;
    padding-bottom: 7px;
    padding-top: 7px; }

.flex{
display: flex;
flex-direction: row;
justify-content: space-around;
align-content: center;
width: 99%;
padding-top: 5%;
padding-bottom: 10%;
}

.botones{
width: 90%;
display: flex;
flex-direction: column;
align-items: center;
}

.btn1{
margin-bottom: 4%;
}

#terminar{
text-decoration: none;
list-style-type: none;
color: whitesmoke;
font-weight: bold;
background-color: #0e61df;
padding: 3%;
border-radius: 5px;
border-color: #1F1924;
margin-top: 2%;
}

.App-header {
  background-color: #323844;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
